.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

.gradient-background_00 {
  background: linear-gradient(180deg, #86b6f6, #b4d4ff, #eef5ff);
}

.header-background {
  background-color: #222831;
}

.nav-link {
  color: #00adb5;
}

.nav-link:hover {
  color: #eeeeee;
}

.box {
  transition: box-shadow 0.4s;
}

.box:hover {
  box-shadow: 15px 15px 15px rgba(33, 33, 33, 0.4);
}

.hero-heading-paragraph {
  color: #393e46;
}

.hero-heading {
  color: #393e46;
}

.hero-paragraph {
  color: #1657cf;
}

.jumbotrons-background {
  background-color: #eeeeee;
}

.gradient-background_01 {
  background: linear-gradient(180deg, #eef5ff, #b4d4ff, #86b6f6);
}

.footer-background {
  background-color: #393e46;
}

.jumbotron-background {
  background-color: #00adb5;
}
